:root {
    --commonColor: rgb(44, 181, 199);
}
body{
    background-color: azure;
}
a{
    text-decoration: none;
    color: black;
}
header{
    background-color:aqua;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    margin: 50px;
    text-align: center;
    font-weight: bolder;
    box-shadow: 5px 5px 10px;
    border-radius: 5px;
    
}
nav{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    background-color: rgb(34, 188, 188);
    box-shadow:5px 5px 10px;
    border-radius: 30px;
}
.navContents a:hover{
    color:blue
    
}
@media screen and (max-width: 600px) {
    nav{
    display: block;
    padding: 20px;
    }
    
}
.profilePicture{
    display: flex;
    height: 400px;
    justify-content:center;

}
img{
    margin-top: 100px;
    height: 200px;
    width: 200px;
    box-shadow:5px 5px 10px;
    border-radius: 5px;
    
    
}

.navContents{
    margin: 30px;
    color:black;
}

.AboutMe header {
    font-weight: lighter;
    background-color: aquamarine;
}
.AboutMe h3{
    margin-left: 100px;
}
.AboutMe ul{
    margin-left:130px
}
.work header{
    font-weight: lighter;
    background-color: aquamarine;
}
.work div{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}
.footerTitle{
    font-weight: lighter;
    background-color: aquamarine;
}
.footerContents {
    display: flex;
    justify-content: flex-end;
    margin:20px;
    

}
@media screen and (max-width: 600px){
    .footerContents{
        display: block;
        padding: 20px;
    }
}
.footerContents div{
    padding-left: 20px;
    padding-bottom: 20px;
}
button{
    height: 50px;
}
button:hover{
    cursor: pointer;
   
    
}
