:root {
    --commonColor: rgb(44, 181, 199);
}
body{
    background-color: azure;
}
header{
    background-color:aqua;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    margin: 50px;
    text-align: center;
    font-weight: bolder;
    box-shadow: 5px 5px 10px;
    
}
nav{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    background-color: rgb(34, 188, 188);
    box-shadow:5px 5px 10px;
    
}
@media screen and (max-width: 600px) {
    nav{
    display: block;
    padding: 20px;
    }
    
}
.profilePicture{
    display: flex;
    height: 400px;
    justify-content:center;

}
img{
    margin-top: 100px;
    height: 200px;
    width: 200px;
    box-shadow:5px 5px 10px;
    border-radius: 5px;
    
    
}

.navContents{
    margin: 30px;
    color:black;
}

.AboutMe header {
    font-weight: lighter;
    background-color: aquamarine;
}
.footerTitle{
    font-size: medium;
    justify-content: center;
    font-weight: 300;
}